<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <div th:replace="commons/menu :: menu" />
  
  <h1>Cesta</h1>
  

  <!-- lista productos -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col" th:text="#{cliente.codigo}">codigo</th>
        <th scope="col" th:text="#{cliente.nombre}">Nombre</th>
        <th scope="col" th:text="#{cliente.apellidos}">precio</th>
        <th scope="col" th:text="#{cliente.email}">cantidad</th>
        <th scope="col" th:text="#{cliente.dni}">subtotal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td >código</td>
        <td>nombre</td>
        <td>precio</td>
        <td>cantidad</td>
        <td>subtotal</td>
        <td>
          <a th:href="" class="btn btn-primary">borrar</a>
      </tr>
    </tbody>
  </table>

  <!-- nav -->
  <div class="row">
    <div th:replace="commons/pagination :: pagination">
  </div>

  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>